.label {
    margin-bottom: .5em;
    font-size: 1.125rem;
    color: #3c3d40;
}

.text {
    font-size: 1.125rem;
    margin-bottom: .5em;
    color: #868780;
}

.field {
    margin-bottom: 2em;
    margin: 1em;
    text-align: left;
}

.tags {
    font-size: 1rem;
    color: #3c3d40;
}